/bin
/lib
/install
/platform/messaging/gen-cpp/
/third_party/install/
/third_party/install1/
/third_party/boost_1_50_0/
/third_party/boost_1_57_0/
/third_party/protobuf-2.3.0/
/third_party/protobuf-2.6.1/
/third_party/zeromq-2.2.0/
/third_party/zeromq-4.0.5/
/third_party/libuuid-1.0.3/
/third_party/*.tar.gz
.Rdata
.Rhistory
*.o
*.so
*.a
*.swp
